@model IEnumerable<team14_MIS4200.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
            {
                <p>
                    Search by employee Name (first, last, both): @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Create New Customer", "Create")
        </div>
    </div>
</div>
     



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hireDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.group)
            </td>
            <td>
               
            </td>
        </tr>
    }

</table>
