@model IEnumerable<team14_MIS4200.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Centric Employees</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9">
            @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
            {
                <p>
                    Search users by criteria below:
                    @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Create New", "Create")
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.businessUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeId })
        </td>
    </tr>
}

</table>
