@model IEnumerable<team14_MIS4200.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Recognitions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateOfRecognition)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognitionDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.award)
            </td>
            <td>
                @Html.DisplayFor(model => item.DateOfRecognition)
            </td>


            <td>
                
            </td>
        </tr>
    }

</table>

@{
    var total = ViewBag.total;
    var excellence = ViewBag.Excellence;
    var culture = ViewBag.Culture;
    var integrity = ViewBag.Integrity;
    var stewardship = ViewBag.Stewardship;
    var innovate = ViewBag.Innovate;
    var passion = ViewBag.Passion;
    var balance = ViewBag.Balance;
    <h2>Total recognitions received = @total</h2>
    <h3>Excellence awards = @excellence</h3>
    <h3>Culture awards = @culture</h3>
    <h3>Integrity awards = @integrity</h3>
    <h3>Stewdardship awards = @stewardship</h3>
    <h3>Innovate awards = @innovate</h3>
    <h3>Passion awards = @passion</h3>
    <h3>Balance awards = @balance</h3>
}




