@model IEnumerable<team14_MIS4200.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Recognitions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateOfRecognition)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employeeFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employeeLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(model => item.DateOfRecognition)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecognitionID })
        </td>
    </tr>
}

</table>
